@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    font-family: Oswald;
    background-color: #fff0f3;
    color: #181008;
}
.first h1{
    text-align: end;
}
.header{
    display: grid;
    grid-template-columns: calc(50% + 85px) auto;
    align-items:center;
}
.header .nav{
    justify-content: space-evenly;
    width: 400px;
    display: flex;
    justify-self: flex-end;  
}
img{
    width: 100px;
}
.album{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
}
.albums a{
    text-decoration: none;
    color: #181008;
}
.album .name{
    visibility: hidden;
    padding-top: 20px;
    
}
.album:hover .name{
    visibility: visible;
}
.album:hover img{
    transform: scale(1.5);
    transition: 0.5s ease;
}
.name{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.albums{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
}
.album img{
justify-self: center;
}


